{% extends 'layout.html' %}

{% block title %}List of Courses{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<ul>
    {% for course in courses %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ course.name }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ course.description }}</h4>
          <a class = "nav_link" href="{% url 'lecture-note-list' course.id %}">View List of Lecture Notes </a>   
          
          </div>
      </div>
    {% empty %}
        <li>No courses available</li>
    {% endfor %}
</ul>
<p></p>  <!-- Add this line for the link -->



  
  
{% endblock %}
