/* Define Color Variables */
:root {
  --primary-color:#A51C30 ; /* Define your primary color */
  --secondary-color: #E5DCCF; /* Define your secondary color */
  --accent-color: #BF4141; /* Define an accent color */
  --highlight-color:#BF9775; /* Backgrounds and borders */
  --text-color:#ffffff ; /* Define a text color */
  --code-color:#00FF00; /* Code snippets */
  --link-color:#BF4141; /* Links */
}

/* Navbar: Anime Signature
Note title: MangaTemple
Note text: Open Sans
Btns: Roboto */

/* Define 'Spicy Potatos' Font */
@font-face {
  font-family: 'Pokemon Solid'; 
  src: url('/static/fonts/Pokemon%20Solid.ttf');
}




@font-face {
  font-family: 'Manga Temple';
  src: url('/static/fonts/mangatb.ttf');
}

@font-face {
  font-family: 'Open Sans'; 
  src: url('/static/fonts/Open%20Sans.ttf');
}


body {
  height: 100vh;
  /* background-image: url('/static/images/landing-bg2.png'); */

  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Spicy Potatos', Arial, sans-serif; 
  margin: 0;
  padding: 0;
  font-size: 25px;

}


.breadcrumb {
  z-index: 100; /* Make sure it's above other elements */
  display: flex; /* To align content horizontally */
  justify-content: space-between; /* To push content to the edges */
  align-items: center; /* To vertically align content */
  padding: 10px 20px; 
  height: 100px; /* Set the height to 70px */
  text-align: left;
  margin: 20px;
  padding: 25px;

}



.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.breadcrumb li {
  display: inline;
  margin-right: 5px;
  font-size: 25px;
  padding: 20px;

}

.breadcrumb li:not(:last-child)::after {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--link-color);

}


.breadcrumb a {
  font-family: 'Family';  
  background-size: 250px 500px; /* Set the width and height you prefer */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px ; /* Add padding to create space around the text */
  text-decoration: none;
  color: black;
  font-size: 40px;

}



.breadcrumb a:hover {
  text-decoration: underline;  
}

/* Style the image with courses */


.nav-link.clicked {
  color: var(--link-color); 
  border-bottom: 2px solid var(--primary-color); 
}

.search-bar {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc; /* Customize your input style */
}

button {
font-family: Roboto;
  padding: 5px 10px;
  background-color:  var(--primary-color); 
  color: #fff;
border-radius: 5px;
cursor: pointer;
box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.8);
transition: transform 0.2s, box-shadow 0.2s; 

}


/* Style the search input and button as needed */
.search-form input[type="text"]{

color: #000000;
}


.search-form button[type="submit"] {
color: #000000;

}


/* Style for home page */
.landing-container {
  background-image: url('/static/images/landing.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}


/* Style for courses list page */

.a-link {
  font-family: 'Open Sans', sans-serif;
  color: var(--link-color);
  transition: color 0.2s; /* Add a smooth color transition */
}

/* Apply a color change animation on hover */
.a-link:hover {
  color: red; /* Change the color on hover */
}



.courses-container{

  background-image: url('/static/images/courses.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 20px; 
}



.course-notes-list{

  background-image: url('/static/images/course-notes.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 20px; 
}

/* Style for lecture notes */
.card-container {
  background-image: url('/static/images/courses.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 20px; 
}

.course-title {
font-family:'Manga Temple' ;
    font-weight: bold;
}

.card-body {
    margin-top: 5px;
}

.link, .li, .a {
font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:var(--primary-color); 
}


.card {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans'; 
  margin-left: 50px;
  color: #ffffff;
  border: 10px solid #5b1818;
  border-radius: 10px;
    padding: 10px;
    margin: 10%;
    width: 80%; /* Adjust this to control card width */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.8);
    transition: transform 0.2s, box-shadow 0.2s; 

  }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  .card h1 {
    font-family: 'Manga Temple'; 

    font-size: 34px; /* Example font size */
    margin-bottom: 10px; /* Example margin bottom */
  }
  
  /* Style for <p> tags inside .card */
  .card p {
    font-family: 'Open Sans', sans-serif; 

    font-size: 24px; /* Example font size */
    color: #ffffff; /* Example text color */
    margin-bottom: 20px; /* Example margin bottom */
  }

 
/* Add a background image to the button */
.copy-btn {
  font-family: 'Roboto'; 
  background-image: url('/static/images/copy-btn.svg'); /* Replace 'your-image-url.png' with your image URL */
  background-size: cover; /* Adjust this to control how the image covers the button */
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  color: #000000; /* Text color */
  border:2px var(--accent-color); 
  cursor: pointer; /* Add a pointer cursor on hover */
  width: 250px;
  height: 100px;
  font-size: 20px;
  border-radius: 20px;
}

/* Style the button as needed */
.copy-btn:hover {
  /* Add hover styles, like changing background color or opacity */
  background-color: #000000;
  color: var(--text-color);
}




.btn-text {
  font-family: 'Roboto'; 

}

/* Add a background image to the button */
.youtube-link {
  font-family: 'Roboto'; 
  background-image: url('/static/images/youtube-link.svg'); /* Replace 'your-image-url.png' with your image URL */
  background-size: cover; /* Adjust this to control how the image covers the button */
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  background-color: #000000;
  color: #ffffff; /* Text color */
  border:2px var(--accent-color); 
  cursor: pointer; /* Add a pointer cursor on hover */
  width: 260px;
  height: 80px;
  font-size: 20px;
  border-radius: 20px;
}

/* Style the button as needed */
.youtube-link:hover {
  /* Add hover styles, like changing background color or opacity */
  background-color: var(--primary-color);
  color:#000000;
}




.btn-text {
  font-family: 'Roboto'; 

}

.image{
position: relative;
width: 250px; 
height:250px; 
border-radius: 10px;
}

/* Style for the pop-up message (hidden by default) */
.image::before {
  content: "Hey, I'm studying ! What about you?"; 
  position: absolute;
  top: -10px; /* Position slightly above the top of the image */
  right: 10px; /* Position slightly to the right of the image */
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px 0 5px 0;
  font-size: 20px;
  opacity: 0; /* Hidden by default */
  pointer-events: none; /* Allows interactions with elements underneath */
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 1;
}

/* Show the pop-up message on hover */
.image:hover::before {
  opacity: 1;
  visibility: visible;
}


.link:hover {
  text-decoration: underline;
}


/*add style to code lines*/

.code-style {
  font-family: 'Courier New', monospace; 
  color: green;
}